# Ansible
.ansible

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/virtualbox.box

# ansible.puzzle tasks
*.zip
*.tar.gz
mail_data.yaml

ansible/roles/nginxinc.nginx

ansible/collections/ansible_collections

ansible/ansible-navigator/logs/
